.infobox {
    text-align: center;
    
}

.container {
    display: flex;
    justify-content: center;
}

.weather-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-info .icon {
    margin-left: 8px;
    align-items: center;
    justify-content: center;
}

#hot {
    color: gold;
    font-size: 32px;
}

#cold {
    color: #00bcd4;
    font-size: 32px;
}

#rain {
    color: #607d8b;
    font-size: 32px;
}
